.card{
background:#1e293b;
color:white;
border:none;
border-radius:15px;
}

.card-title{
color:white;
font-weight:600;
}

.card-text{
color:#cbd5e1;
}

.price{
color:#22c55e;
font-weight:bold;
font-size:18px;
}