<div class="container mt-4">
  <h2>Listado de Videojuegos</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Género</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.nombre }}</td>
        <td>{{ game.genero }}</td>
        <td>${{ game.precio }}</td>
        <td>
          <button class="btn btn-danger"
                  (click)="eliminar(game._id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>